html {
  margin: 0;
  width: 100%;
}
body {
  font-family: sans-serif;
}
strong {
  color: #555555; 
  font-size: 29px; 
  font-weight:600; 
  letter-spacing: -1px;
  padding: 0%;
  margin: 0;
}
h1 {
  color: #777777; 
  font-size: 26px; 
  font-weight:200; 
  letter-spacing: -1px;
  padding: 0%;
  margin: 0;
}
h2 {
  color: #4CC7D6; 
  font-size: 22px; 
  font-weight: 600; 
  letter-spacing: -1px; 
  padding: 9% 0 0 0
}
h3 {
  color: #777777; 
  font-size: 20px; 
  font-weight: 600; 
  letter-spacing: -1px; 
  padding: 5% 0 0
}
h6 {
  color: #999999 !important;
  font-size: 12px; 
  font-weight: 200; 
  margin: 2% 0;
}
p {
  color: #444444; 
  font-size: 14px 
}
label {
  color: #999999 !important;
  font-size: 14px; 
  font-weight: 500; 
  margin-bottom: 0 !important;
  padding: 1%;
}
label > strong {
  color: #4CC7D6;
}

section  {
  margin: 0;
}
.button-dash {
  background: var(--violet-color);
  border: 0;
  border-radius: 4px;
  color: #FFF !important;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  min-width: 220px;
  font-size: 12px;
  max-height: 42px;
  line-height: 35px;
  width: 100%;
  margin:  5px 0;
  max-width: 260px;
}

.button-dash :hover {
  background: var(--blue-color)!important;
}

.images_logo{
  width: 230px;
  text-align: center;
  align-content: center;
  align-items: center;
  opacity: 0.7;
}
.col-md-2 {
  background: #ffffff;
  border: #F4F4F4 solid 2px;
 
 
  }
.col-md-5 {
background: #ffffff;
border: #F4F4F4 solid 2px;

padding-right: 0 !important;
padding-left: 0 !important;
}
.col-md-6 {
  background: #ffffff;
  border: #F4F4F4 solid 2px;

  padding-right: 0 !important;
  padding-left: 0 !important;
}
.col-md-12{
  background: #ffffff;
  border: #F4F4F4 solid 4px;
  align-content: center;
  align-items: center;
  text-align: center;
}

.mt-4, .my-4 {
  margin: 0px !important;
}

a:link, a:visited {
  background-color:#6B69A6;
  width: 90%; 
  margin: 3% 0; 
  border: none;
  color: black;
  min-width: 230px;
  min-height: 30px;
  }
  
  a:hover, a:active {
    background-color:var(--blue-color) !important;
    color: white;
  }

  .mapboxgl-ctrl-logo{
    display: none!important;
  }

  .mapboxgl-ctrl-attrib-inner{
    display: none!important;
  }


    label {
    font-size: 12px;
    color: var(--grey-light-color);
    font-weight: 100;
    margin: 2% 0 5%;
    }  

    small {
    font-size: 10px;
    color: var(--grey-font-color);
    font-weight: 100;
    text-align: right;
    } 

    hr{
        color: withe;
        width: 100%
    } 

    form{
    min-width:30vw;
    } 

:root {
        --blue-color: #7CC6D5;
        --blue-disable-color: #677272;
        --violet-color: #6B69A6;
        --violet-hover-color: #A1A1D1;
        --grey-bg-color: #EFEFEF;
        --grey-font-color: #888;
        --grey-light-color: #AAA;
        --grey-medium-color: #C6C6C6;
        --grey-dark-color: #999999;
        --grey-controls-color: #CCCC;
        --dark-color: #333333;
        --light-color: #FFF;
    }
    
    body {
        font-family: Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .login {
        display: grid;
        grid-template-areas: "form arrow blocks lines";
        grid-template-columns: 48% 2% 48% 2%;
        grid-template-rows: 1fr;
        min-height: 100vh
    }
    
    .login > .form-section {
        background-color: var(--light-color);
        border-top: none;
        grid-area: form;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding:  6% 12%
    }
    
    .login > .arrow-section  {
        background-color: var(--light-color);
        grid-area: arrow;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .login > .figure-section  {
        background-color: var(--dark-color);
        display: grid;
        grid-area: blocks;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #FFF;
        padding:  6% 18% 0;
    }

    .login > .lines-section  {
        background-color: var(--violet-color);
        display: grid;
        grid-area: lines
    }
    
    .login-arrow {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid var(--dark-color);
    }

    
    .flexbox-widget-btn {
        background: var(--violet-color);
        border: 0;
        border-radius: 4px;
        color: #FFF;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        min-width: 280px;
        font-size: 12px;
        max-height: 42px;
        line-height: 35px;
        width: 100%;
        margin:  5px 0

    }

    .flexbox-widget-btn-invert {
        background: var(--blue-color);
        border: 0;
        border-radius: 4px;
        color: #FFF;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        min-width: 170px;
        font-size: 12px;
        max-height: 42px;
        line-height: 35px;
        width: 30%;
        margin:  5px 0


    }
    
    .textbox-rectangle {
        min-width: 280px;
        border-radius: 4px;
        color: var(--grey-font-color);
        cursor: pointer;
        font-weight: 300;
        font-size: 12px;
        max-height: 43px;
        width: 100%;
        padding: .375rem .450rem;
        line-height: 5.5;
       background-color: #fff;
       background-clip: padding-box;
       border: 1px solid #ced4da;
       transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
       margin:5px 0

    }
    .logo-footer 
            {
        align-items: flex-end;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 10vh;
    }
    
    .web-buton{
        align-items: flex-end;
        display: flex;
        justify-content:  flex-end;
        width: 100%;
        height: 30vh;
    }

    @media (max-width: 640px) {
        .login {
            display: grid;
            grid-template-areas: "form" "arrow" "blocks" "lines";
            grid-template-columns: 100%;
            grid-template-rows: 80% 20%;
            min-height: 100vh
        }
        .login > .arrow-section  {
        align-items: center;
        justify-content: center;
    }
        .login > .lines-section  {
            background-color: var(--yellow-color);
            display: grid;
            display: flex;
            flex-direction: row;
            height: 10px;
        }
        .login-arrow {
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid var(--dark-color);
        }
        .login > aside {
            background-color: var(--grey-bg-color);
            grid-area: arrow;
            display: flex;
            align-items: center;
            justify-content: center;
        }
     
    }
    
input[type=checkbox]{
  display: none; /*solo se esconde para tener un campo personalisado*/
}

input[type=checkbox] + label{
  cursor:pointer;
  
}/*esta linea significa esto + el siguiente elemento*/

label{
  content: '✈';
  background-color:  var(--grey-bg-color);
  border-radius: 2px;
  display: inline-block;
  height: 45px;
  width: 45px;
  margin: 8px;
  text-align:center;
  vertical-align:middle;
  font-size: 21px;



}
.start-checklist{
  background-color:  #7CC6D5;
  color: white!important;
}
.stop-checklist{
  background-color:  #EF1155;
  color: white!important;
}
 /* width */
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 